{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="base_login">
  <div class="wrapper fadeInDown">
    <div id="formContent">

        <form method="post" class="col-12 col-sm-8 col-md-8 mx-auto">

            <h1 class="h3 mb-3 font-weight-normal">Identifiez vous</h1>

            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

            <button id="btn_login" class="btn m-3" type="submit">
              S'identifier
            </button>
        </form>

    </div>
  </div>
</div>

{% endblock %}