.body_base {
  min-height: 100vh !important;
  padding-bottom: 50px !important;
}

/* HEADER FORUM */

#body_forum {
  background: url('../imgs/forum.png');
  height: 87vh;
  background-position: center;
  background-size: cover;
  margin-bottom: 110px;
}

.table_forum {
  background: #76005D;
  border: none;
  border-radius: 40px;
}

.titreArticleForum {
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  color: white;
}

.topic {
  font-family: 'Press Start 2P', cursive;
}

#navbar_forum {
  background: linear-gradient(45deg,#59fcab, #2083e0);
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}

.liensCat {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.7em;
  color: #FF68DF;
}

/* TEMPLATE FORUM */

#creerTopic {
  font-size: 12px;
}

/* template forum show */

h2 {
  font-family: 'Press Start 2P', cursive;

}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#base_forumshow {
  width: 800px;
  height: 300px;
}

#base_forumshow h5 {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
}

#base_forumshow div:first-child {
  padding: 25px;
}

#base_forumshow img {
  max-width: unset;
}

#titre_forumshow {
  font-family: 'Press Start 2P', cursive;
}

#forumshow_com {
  height: 185px;
  width: 600px;
}

.imgfs {
  height: 120px;
  width: 120px;
}

/* CSS FORMULAIRE AJOUT ARTICLE FORUM */

.formArticle {
  padding-bottom: 40px;
}

/* FOOTER */

.footer {
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg,#59fcab, #2083e0);
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.footer div i {
  font-size: 18px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Responsive du template forum */

@media screen and (max-width: 840px)
{
  #base_forumshow {
    width: 500px;
  }
}

@media screen and (max-width: 768px)
{
  #commentForum{
    padding-bottom: 50px;
  }

  #titre_forumshow {
    font-size: 16px;
  }

  .formArticle {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px)
{
  /* RESPONSIVE COMMENTAIRE */
  #forumshow_com {
    height: 185px;
    width: 400px;
  }
  
  .imgfs {
    height: 120px;
    width: 120px;
  }

  /* RESPONSIVE FORUM */

  #body_forum {
    padding-bottom: 110px;
  }

  #div_page_forum {
    padding: unset;
  }
}

@media screen and (max-width: 584px)
{
  #body_forum {
    margin-bottom: 250px;
  }
}

@media screen and (max-width: 530px)
{
  /* RESPONSIVE FORUM SHOW */
  #base_forumshow {
    flex-direction: column;
    width: 350px;
    height: 500px;
  }

  #base_forumshow p {
    text-align: center;
  }

  /* RESPONSIVE FORMULAIRE AJOUT ARTICLE */

  .formArticle {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 425px)
{
  /* RESPONSIVE FORUM SHOW */
  #forumshow_com {
    height: 185px;
    width: 350px;
  }
  
  .imgfs {
    height: 90px;
    width: 90px;
  }

  #table_tri_forum {
    font-size: 10px;
  }

  /* RESPONSIVE FORUM */

  .table_forum {
    font-size: 13px;
  }

  #creerTopic {
    font-size: 10px;
  }
}

@media screen and (max-width: 375px)
{
  /* RESPONSIVE TOPIC */
  #base_forumshow {
    flex-direction: column;
    width: 300px;
  }

  #titre_forumshow {
    font-size: 14px;
  }

  /* RESPONSIVE COMMENTAIRE */

  #forumshow_com {
    height: 185px;
    width: 300px;
  }
  
  .imgfs {
    height: 90px;
    width: 90px;
  }

  #table_tri_forum {
    font-size: 8px;
  }

  /* RESPONSIVE FORUM */

  .table_forum {
    font-size: 10px;
  }

  #body_forum {
    margin-bottom: 200px;
  }

  /* RESPONSIVE FORMULAIRE AJOUT ARTICLE */

  .formArticle {
    padding-bottom: 80px;
  }
}