.body_base {
  min-height: 100vh !important;
  padding-bottom: 50px !important;
}

/* HEADER FORUM */

#body_forum {
  background: url('../imgs/forum.png');
  height: 87vh;
  background-position: center;
  background-size: cover;
}

#table_forum {
  background: #76005D;
  border: none;
  border-radius: 50px;
}

.titreArticleForum {
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  color: white;
}

.topic {
  font-family: 'Press Start 2P', cursive;
}

#navbar_forum {
  background: linear-gradient(45deg,#59fcab, #2083e0);
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}

.liensCat {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5em;
  color: #FF68DF;
}

.partie2 {
  text-align: center;
}

/* template forum show */

h2 {
  font-family: 'Press Start 2P', cursive;

}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#base_forumshow {
  width: 800px;
  height: 300px;
}

#base_forumshow div:first-child {
  padding: 25px;
}

#base_forumshow img {
  max-width: unset;
}

/* FIN CSS TEMPLATE FORUM SHOW */

/* Footer */
.footer {
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg,#59fcab, #2083e0);
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.footer div i {
  font-size: 18px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Responsive du template forum */

@media screen and (max-width: 768px)
{
  #commentForum{
    padding-bottom: 50px;
  }
}