{% extends "base.html.twig" %}

{% block title %}
    Retrolik | Catégories
{% endblock %}

{% block body %}

<body id="bodyCategory">

<div id="body_categorie" class="container mt-5">

    <h1 id="titre_ctgrie" class="text-center mb-0 ">Catégories</h1>

    <p id="para_ctgrie" class="text-center mt-4">Ici vous pouvez naviguer entre les différentes catégories de jeux disponibles sur notre site</p>

    <section id="disc_cat" class="d-flex flex-row flex-wrap justify-content-evenly">
        {% for data in categorie %}

            <div class="div_disc my-2">
                <a href="{{ path('game_jeux_cat', {'id': data.id}) }}">
                    <div class="disc mx-auto">
                        <p class="disc-text text-center col-12 m-0">{{ data.nom }}</p>
                        <div class="disc1"></div>
                        <div class="disc2"></div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>

</div>

</body>

{% endblock %}