{% extends "base.html.twig" %}

{% block title %}
  GamesProjet | Bienvenue
{% endblock %}

{% block body %}
<div id="blog_home">
  <div class="text-center" id="partie1">
    <div class="mx-auto my-5">
      <h1 class="col-8 col-md-6 col-sm-8 mx-auto text-center" id="titre1">Retrolik</h1>
      <p class="col-8 col-md-5 col-sm-6 mx-auto lead fw-normal my-5" id="titre2">Une expérience immersive</p>
      <a class="btn" href="{{ path('game_jeux') }}" id="titre3">Insert coins to begin</a>
    </div>
  </div>

  <div class="text-center">

      <h1 class="text-center my-5" id="lastjeux">Derniers jeux mis en ligne</h1>

      <div id="home_body" class="container d-flex justify-content-center bd-highlight mb-3">

            <div class="border border-dark d-flex flex-column carte1">
              <div class="bg-light w-50 mt-2 border border-dark mx-auto">
                <h2 class="m-0 py-1">Jeu 1</h2>
                <p class="m-0 py-1">Description</p>
              </div>
              <div class="bg-light card-disquette border border-dark mt-5 mb-2 mx-auto">
              
              </div>
            </div>

            {# <div class="p-2 bd-highlight col-sm-4 col-md-4 mx-5" >
              <div class="my-3 py-3">
                <h2 class="display-5 text-dark">Jeu1</h2>
                <p class="lead text-dark">Description1</p>
              </div>
              <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
            </div> #}

          </div>

          <div class="my-5">
            <a href="{{ path('game_jeux') }}" class="btn col-10 col-md-8 col-sm-8" id="boutonhome">Voir les autres jeux</a>
          </div>

        
  </div>

</div>
{% endblock %}