{% extends "base.html.twig" %}

{% block title0 %}
  Retrolik | Jeux
{% endblock %}

{% block body %}

<body id="body_jeux">

<div id="div_jeux" class="container d-flex flex-wrap justify-content-evenly">

  {% for game in jeu %}
  
  <div class="my-3 my-sm-4 my-md-5 mx-2">
    <a href="{{ game.Lien }}" target="_blank">
      <div class="barre_top"></div>
      <div class="cartouche">
        <div id="barres_titre">
          <div class="part barres"></div>
          <div class="part barres"></div>
          <div class="part barres"></div>
          <div class="part barres"></div>
          <p class="crtche_titre">{{ game.titre }}</p>
        </div>
        <img class="crtche_img" src="{{ asset('uploads/photos/' ~ game.Img) }}" alt="Card image cap">
        <div class="crtche_triangle"></div>
        <div class="barre_lat barre_gauche"></div>
        <div class="barre_lat barre_droite"></div>
      </div>
    </a>
  </div>
{% endfor %}

</body>

{% endblock %}