{% extends "base.html.twig" %}

{% block title %}
    GamesProject | Jeu snake
{% endblock %}


{% block body %}


	
	<style>
	canvas {
		display: block;
		position: absolute;
		border: 1px solid #000;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	</style>

	<h1 class = "text-center mx-auto mt-3"> SNAKE </h1>
		<section>
			<div class="container px-4 py-5" id="featured-3">
				<div class="feature col text-center">
					<h2 class="text-center">Snake record</h2>
					<p class="text-dark">Le record à battre est de 78. Pensez-vous pouvoir le battre ?</p>
				</div>
			</div>
		</section>

	{% block javascripts %}
		
	{% endblock %}
	<script src="{{ asset('js/snake.js') }}"></script>
    
{% endblock %}