{% extends "base.admin.html.twig" %}

{% block title %}
    GamesProject | Modification utilisateurs
{% endblock %}

{% block body %}
    <h1 class="text-center my-5"> Modification utilisateurs</h1>

    <div class="container col-4">

    {{  form_start(formUserUpdate)}}

        {{ form_row(formUserUpdate.roles) }}

        <button class="btn btn-dark"> Modifier</button>


    {{ form_end(formUserUpdate) }}
    
    
    
    </div>
{% endblock %}