{% extends 'base.admin.html.twig' %}

{% block title %} 
    GamesProject | BackOffice
{% endblock %}

{% block body %}

    <div id="body_index_admin">
        <h1 class="text-center my-5">Bienvenue dans le BackOffice</h1>

        <p class="text-center fs-5">Commencez à naviguer en utilisant la nav.</p>
    </div>
    
{% endblock %}